body { 
	margin-left: 50px;
	padding-bottom: 70px; 
}
@media (min-width: 900px) {
    .container {
        width: 900px;
    }
    h1, h2, h3, h4, h5 {
        text-align: center
    }
    .table {
        font-size: 11px
    }
    #map {
        width: 850px;
        height: 400px;
    }
}