<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/maps1.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCXoxMo8mD2g_3DV-hZew8ev0PhGj2RAJc"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script src="{% static 'js/functions.js' %}"></script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>